/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
resources/views/stisla-1-2.2.0
resources/views/ecommerce-frontend-template
public/uploads/1638545629_359100932_660652432755017_9085954716223753340_n.jpg
public/uploads/media_64aefc5d9e2ca_jpg
*.jpg
